body{
    background: url('background.jpg') fixed;
    background-size: cover;

}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #DEDEDE;
    max-width: 30%px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    opacity: .99;
}


.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFCC00;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    cursor: pointer;

}

.form button:hover,.form button:active{
    background: #FFCC00
}

.form .message{
    margin: 15px 0 0;
    color: #111111;
    font-size: 12px;
}

.form .message a{
    color: #111111;
    text-decoration: none;
}

.form .register-form{
    display: none
}
.dropbtn {
    font-family: "Roboto", sans-serif;
    background-color: #FFCD01;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: "Roboto", sans-serif;

    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 1s ease-in;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: "Roboto", sans-serif;

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FFCC00;
}